{
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "strict"
}
