{
	"semi": true,
	"trailingComma": "none",
	"quoteProps": "as-needed",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"tabWidth": 2,
	"useTabs": true,
	"endOfLine": "crlf",
	"singleQuote": true
}
