:root {
  --primary: #16121e;
  --closeButtonHover: #876aea;
  --closeButtonActive: #7c62d7;
  --color-primary: #e6e6e6;

  --font-sm: "14px";
  --font-md: "18px";
  --font-l: "20px";
  --font-xl: "24px";
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: transparent;

  scroll-behavior: smooth !important;
  font-family: "Poppins", sans-serif;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  position: relative;

  max-width: 1200px;

  margin: 0 auto;
  padding: 2em;

  background-color: var(--primary);
  color: var(--color-primary);
}

h1 {
  margin-bottom: 2em;

  font-size: var(--font-l);
}

nav,
#polish-policy,
#english-policy {
  padding: 3rem;
}

#polish-policy h2,
#english-policy h2 {
  margin: 4em 0;

  text-align: center;
  font-size: var(--font-l);
  font-weight: 700;
}

li {
  margin: 1.3em 0;

  font-size: var(--font-sm);
  line-height: 32px;
}

ol > li::marker {
  font-weight: bold;
}

ol,
ul {
  line-height: 24px;
}

.nav-list-item {
  margin-left: 32px;
}

a {
  color: var(--closeButtonHover);
}

@media (orientation: landscape) {
  a {
    position: relative;

    text-decoration: none;
  }

  a::before {
    content: "";
    position: absolute;

    bottom: -2px;
    left: 0;

    width: 100%;
    height: 4px;

    border-radius: 4px;

    background-color: var(--closeButtonActive);

    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: var(--font-xl);
  }

  #polish-policy,
  #english-policy {
    padding: 1rem 4em;
  }

  #polish-policy h2,
  #english-policy h2 {
    margin: 2em 0;

    font-size: var(--font-xl);
  }

  li {
    margin: 0.8em 0;

    font-size: var(--font-md);
  }

  ol,
  ul {
    line-height: 24px;
  }
}

@media (min-width: 1280px) {
  #polish-policy,
  #english-policy {
    padding: 4em;
  }
}
