{
  "semi": true,
  "trailingComma": "none",
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "tabWidth": 4,
  "endOfLine": "crlf",
  "singleQuote": true
}
